body{
    background-image: url(resources/backgroundimage.jpg); 
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     margin: 0px;
 }
 header{
     font-size: 100px;
     text-align: center;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-shadow: 10px 5px 10px;
 }
 
 .navbar {
     display: flex;
     justify-content: center;
     background-color: darkred;
     padding: 0;
     margin: 0;
     overflow: hidden;
 }
 
 .navbar ul {
     list-style-type: none;
     display: flex;
     padding: 0;
     margin: 0;
 }
 
 .navbar a {
     color: aliceblue;
     text-decoration: none;
     padding: 15px;
     display: block;
     text-align: center;
 }
 
 .navbar a:hover {
     background-color: firebrick;
 }